
<p id="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

  <%= render 'all-projects-view/navbar' %>
  <%= render 'all-projects-view/new-project-section' %>
  <%= render 'all-projects-view/main' %>
