<p id="notice"><%= notice %></p>
<%= render 'all-projects-view/navbar' %>

<div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-6 lg:px-8 lg:flex lg:items-center lg:justify-between">
  <h2 class="text-3xl leading-9 font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
    <%= @project.name %>
  </h2>
  <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
    <div class="inline-flex rounded-md">
      <%= link_to 'Edit', edit_project_path(@project),class:"inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-gray-800 bg-gray-200 hover:bg-gray-300 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
      <%= link_to 'Destroy', @project, method: :delete,class:"ml-5 inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-gray-200 bg-gray-800 hover:bg-orange-600 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out", data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>
<div class="container mx-auto">

<div class="ml-6 mr-6">
  <p class="text-gray-600 text-xl mx-2">
    <%= @project.description %>
  </p>

  <hr class="mt-12">


  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-6 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-2xl leading-9 font-medium tracking-tight text-gray-900 sm:text-2xl sm:leading-10">
      Tasks for <%= @project.name %>
    </h2>
    <div class="flex lg:flex-shrink-0 lg:mt-0">
      <div class="inline-flex rounded-md">
        <%= form_for([@task.project, @task]) do |f| %>

            <div class="flex flex-wrap ml-4">
              <div class="w-3/5">
                <%= f.text_field :name, placeholder: 'Enter task name', class:"appearance-none block w-full py-2 px-4 leading-snug text-gray-700 bg-gray-200 focus:bg-white border border-gray-200 focus:border-gray-500 rounded md:rounded-r-none" %>
              </div>
              <div class="w-2/5">
                <%= f.submit class: 'inline-block w-full py-3 px-4 leading-none text-white bg-gray-500 hover:bg-gray-600 rounded md:rounded-l-none' %>
              </div>
            </div>

        <% end %>

      </div>
    </div>
  </div>



<div class="flex flex-wrap -mx-1 overflow-hidden sm:-mx-1 md:-mx-2 lg:-mx-2 xl:-mx-2">

    <% @project.tasks.each do |task| %>
    <% if task.persisted? %>

      <div class="max-w-lg border border-blue-600 rounded py-6 mx-auto bg-purple-200 my-1 px-1 w-full overflow-hidden sm:my-1 sm:px-1 md:my-2 md:px-2 lg:my-2 lg:px-2 lg:w-1/2 xl:my-2 xl:px-2 xl:w-1/2">

          <%= link_to [task.project, task], class:'text-gray-600 text-lg' do %>
            <div class="ml-12 font-bold">
              <div style="max-width: 100px; text-align: center;" class="py-0 rounded-full text-sm font-medium bg-purple-600 text-white px-2">
                <%= task.status %>
              </div>
              <%= task.name %>
            </div>

            <br>
        <% end %>
      </div>
      <% end %>


    <% end %>

</div>


</div>
</div>
